mycarenet-ehealth-ehealthbox/src/wsdl/ehealth-ehBox-schema-core-2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (http://www.altova.com) by smals (SMALS-MVM ASBL/VZW) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="urn:be:fgov:ehealth:commons:core:v1" xmlns:ehboxc="urn:be:fgov:ehealth:ehbox:core:v2" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:be:fgov:ehealth:ehbox:core:v2" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0">
	<xs:import namespace="urn:be:fgov:ehealth:commons:core:v1" schemaLocation="ehealth-commons-schema-core-1_4.xsd"/>
	<xs:simpleType name="INSSType">
		<xs:annotation>
			<xs:documentation>Social Secuirty Number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11" fixed="true"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageIdType">
		<xs:annotation>
			<xs:documentation>Unique number generated by the system</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="13" fixed="true"/>
			<xs:pattern value="[a-zA-Z0-9]{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicationIdType">
		<xs:annotation>
			<xs:documentation>Unique number specified by the user</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageType">
		<xs:annotation>
			<xs:documentation>Get a message with it's content</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PublicationId" type="ehboxc:PublicationIdType" minOccurs="0"/>
			<xs:element name="DestinationContext" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Recipients</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ehboxc:EhboxIdentifierType">
							<xs:sequence minOccurs="0">
								<xs:element name="Mandate" minOccurs="0">
									<xs:annotation>
										<xs:documentation>V1 Mandate system</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="core:IdentifierType">
												<xs:sequence minOccurs="0">
													<xs:element name="Name" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContentContext">
				<xs:annotation>
					<xs:documentation>Message content and details, as well as some free Meta’s</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Content" type="ehboxc:ContentType"/>
						<xs:element name="ContentSpecification" type="ehboxc:ConsultContentSpecificationType"/>
						<xs:element name="CustomMeta" type="ehboxc:CustomMetaType" minOccurs="0" maxOccurs="50"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Meta" type="ehboxc:MetaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>System Meta's defined by eHealth</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CopyMailTo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Email notification has been sent to</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="MessageId" type="ehboxc:MessageIdType"/>
	</xs:complexType>
	
	<xs:complexType name="FreeInformationsType">
		<xs:annotation>
			<xs:documentation>Free Informations added by the user to a message. Can be one of the 3 tpes: FreeText, Table or OldFreeInformation</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="EncryptableFreeText" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Table">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Row" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:choice>
										<xs:element name="EncryptableLeftCell" type="xs:base64Binary">
											<xs:annotation>
												<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
									<xs:choice>
										<xs:element name="EncryptableRightCell" type="xs:base64Binary">
											<xs:annotation>
												<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Title">
						<xs:annotation>
							<xs:documentation>This is not encrypted</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="EncryptableOldFreeInformation">
				<xs:annotation>
					<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:base64Binary">
							<xs:attribute name="Render" use="required">
								<xs:annotation>
									<xs:documentation>This is not encrypted</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation>Specifies content of a Document message</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Title">
				<xs:annotation>
					<xs:documentation>This is not encrypted</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="EncryptableBinaryContent" type="xs:base64Binary" xmime:expectedContentTypes="*/*">
					<xs:annotation>
						<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EncryptableTextContent" type="xs:base64Binary" xmime:expectedContentTypes="*/*">
					<xs:annotation>
						<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="DownloadFileName">
				<xs:annotation>
					<xs:documentation>This is not encrypted</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MimeType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Signing" type="ehboxc:SigningType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NewsType">
		<xs:annotation>
			<xs:documentation>Specifies content of a News message</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Title">
				<xs:annotation>
					<xs:documentation>This is not encrypted</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="EncryptableBinaryContent" type="xs:base64Binary" xmime:expectedContentTypes="*/*">
					<xs:annotation>
						<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EncryptableTextContent" type="xs:base64Binary" xmime:expectedContentTypes="*/*">
					<xs:annotation>
						<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="MimeType">
				<xs:annotation>
					<xs:documentation>This is not encrypted</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnnexType">
		<xs:annotation>
			<xs:documentation>Specifies content of an Annex</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EncryptableTitle" type="xs:base64Binary" xmime:expectedContentTypes="*/*">
				<xs:annotation>
					<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="EncryptableBinaryContent" type="xs:base64Binary" xmime:expectedContentTypes="*/*">
					<xs:annotation>
						<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EncryptableTextContent" type="xs:base64Binary" xmime:expectedContentTypes="*/*">
					<xs:annotation>
						<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="DownloadFileName">
				<xs:annotation>
					<xs:documentation>This is not encrypted</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MimeType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Signing" type="ehboxc:SigningType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateType">
		<xs:annotation>
			<xs:documentation>User provides ID of his mandator and the quality of the mandator in use.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:IdentifierType">
				<xs:sequence>
					<xs:element name="Quality" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EhboxIdentifierType">
		<xs:annotation>
			<xs:documentation>Recipient of a message</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:IdentifierType">
				<xs:sequence>
					<xs:element name="Quality" type="xs:string"/>
					<xs:element name="User" minOccurs="0">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="ehboxc:INSSType">
									<xs:attribute name="FirstName" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="LastName" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MetaType">
		<xs:annotation>
			<xs:documentation>Meta defined by the system</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomMetaType">
		<xs:annotation>
			<xs:documentation>Meta specified by the user</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Key">
				<xs:annotation>
					<xs:documentation>Limited to 250 characters</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Limited to 250 characters</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContentType">
		<xs:annotation>
			<xs:documentation>Contains all elements relative to the content of the message</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Document" type="ehboxc:DocumentType"/>
				<xs:element name="News" type="ehboxc:NewsType"/>
			</xs:choice>
			<xs:element name="FreeInformations" type="ehboxc:FreeInformationsType" minOccurs="0"/>
			<xs:element name="EncryptableINSSPatient" type="xs:base64Binary" minOccurs="0" xmime:expectedContentTypes="*/*">
				<xs:annotation>
					<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Annex" type="ehboxc:AnnexType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContentInfoType">
		<xs:annotation>
			<xs:documentation>Info about the message content, without transmitting everything</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EncryptableINSSPatient" type="xs:base64Binary" minOccurs="0" xmime:expectedContentTypes="*/*">
				<xs:annotation>
					<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContentType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DOCUMENT"/>
						<xs:enumeration value="NEWS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Title">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MimeType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HasFreeInformations" type="xs:boolean"/>
			<xs:element name="HasAnnex" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContentSpecificationType">
		<xs:annotation>
			<xs:documentation>ContentSpecification for publication</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ehboxc:ConsultContentSpecificationType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Allows you to specify separatly the desired acknowledgments</xs:documentation>
					</xs:annotation>
					<xs:element name="PublicationReceipt" type="xs:boolean" default="false"/>
					<xs:element name="ReceivedReceipt" type="xs:boolean" default="false"/>
					<xs:element name="ReadReceipt" type="xs:boolean" default="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConsultContentSpecificationType">
		<xs:annotation>
			<xs:documentation>ContentSpecification for consultation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApplicationName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the name of the application for which the message is intended</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsImportant" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>V1 "HasPriority"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsEncrypted" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>Indicates whether the "Encryptable" items ALL contain encrypted content</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageInfoType">
		<xs:annotation>
			<xs:documentation>Short message details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PublicationDate" type="xs:date"/>
			<xs:element name="ExpirationDate" type="xs:date"/>
			<xs:element name="Size" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoxIdType">
		<xs:annotation>
			<xs:documentation>Specify another eHealthBox to use for the request</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:IdentifierType">
				<xs:sequence>
					<xs:element name="Quality" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SenderType">
		<xs:annotation>
			<xs:documentation>The sender of a message</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:IdentifierType">
				<xs:sequence>
					<xs:element name="Quality" type="xs:string"/>
					<xs:element name="Name" type="xs:string"/>
					<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
					<xs:element name="PersonInOrganisation" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>If the message was sent by an Organisation like a Hospital, the organisation name will be stored in "Name" above and the INSS of the person really sending the message will be stored in "PersonInOrganisation" for information.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SigningType">
		<xs:annotation>
			<xs:documentation>Specifies the content of a signature</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="SigningDownloadFileName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="BinarySigningContent" type="xs:base64Binary" xmime:expectedContentTypes="*/*"/>
				<xs:element name="TextSigningContent" type="xs:string"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="SigningType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
