mycarenet-ehealth-eh2ebox/src/wsdl/Eh2eBoxPublication_v3.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="Eh2eBoxPublication" targetNamespace="urn:be:fgov:ehealth:ehbox:publication:protocol:v3" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ehboxp="urn:be:fgov:ehealth:ehbox:publication:protocol:v3" xmlns:err="urn:be:fgov:ehealth:errors:service:v1" xmlns:mon="urn:be:fgov:ehealth:ehbox:monitoring:protocol:v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Version 3.0</wsdl:documentation>
  <wsp:Policy wsu:Id="SAML_HOK" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <sp:AsymmetricBinding>
      <wsp:Policy>
        <sp:InitiatorToken>
          <wsp:Policy>
            <!-- If the client framework supports sp:IssuedToken policy assertions, uncomment this block and comment the sp:SamlToken assertion -->
            <!-- <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient"> -->
            <!-- <sp:RequestSecurityTokenTemplate /> -->
            <!-- <wsp:Policy /> -->
            <!-- </sp:IssuedToken> -->
            <sp:SamlToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssSamlV11Token10/>
              </wsp:Policy>
            </sp:SamlToken>
          </wsp:Policy>
        </sp:InitiatorToken>
        <sp:RecipientToken>
          <wsp:Policy>
            <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
              <wsp:Policy>
                <sp:WssX509V3Token10/>
              </wsp:Policy>
            </sp:X509Token>
          </wsp:Policy>
        </sp:RecipientToken>
        <sp:AlgorithmSuite>
          <wsp:Policy>
            <sp:Basic256/>
          </wsp:Policy>
        </sp:AlgorithmSuite>
        <sp:Layout>
          <wsp:Policy>
            <sp:Lax/>
          </wsp:Policy>
        </sp:Layout>
        <sp:IncludeTimestamp/>
        <sp:ProtectTokens/>
        <sp:OnlySignEntireHeadersAndBody/>
      </wsp:Policy>
    </sp:AsymmetricBinding>
    <sp:Wss10>
      <wsp:Policy>
        <sp:MustSupportRefKeyIdentifier/>
        <sp:MustSupportRefIssuerSerial/>
      </wsp:Policy>
    </sp:Wss10>
    <sp:SignedParts>
      <sp:Body/>
    </sp:SignedParts>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="urn:be:fgov:ehealth:ehbox:publication:protocol:v3" schemaLocation="ehealth-ehBox-publication-schema-protocol-3_0.xsd"/>
      <xsd:import namespace="urn:be:fgov:ehealth:errors:service:v1" schemaLocation="ehealth-errors-schema-service-1_0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageRequestMessage">
    <wsdl:part name="body" element="ehboxp:SendMessageRequest"/>
  </wsdl:message>
  <wsdl:message name="SendMessageResponseMessage">
    <wsdl:part name="body" element="ehboxp:SendMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="SystemError">
    <wsdl:part name="fault" element="err:SystemError"/>
  </wsdl:message>
  <wsdl:message name="BusinessError">
    <wsdl:part name="fault" element="err:BusinessError"/>
  </wsdl:message>
  <wsdl:portType name="ehBoxPublicationPortType">
    <wsdl:operation name="sendMessage">
      <wsdl:input message="ehboxp:SendMessageRequestMessage"/>
      <wsdl:output message="ehboxp:SendMessageResponseMessage"/>
      <wsdl:fault name="BusinessError" message="ehboxp:BusinessError"/>
      <wsdl:fault name="SystemError" message="ehboxp:SystemError"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ehBoxPublicationBinding" type="ehboxp:ehBoxPublicationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="urn:be:fgov:ehealth:ehbox:publication:protocol:v3:sendMessage"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <PolicyReference URI="#SAML_HOK" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessError">
        <soap:fault name="BusinessError" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SystemError">
        <soap:fault name="SystemError" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ehBoxPublicationService">
    <wsdl:port name="ehBoxPublicationPort" binding="ehboxp:ehBoxPublicationBinding">
      <soap:address location="https://services-acpt.ehealth.fgov.be/eh2eBox/publication/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>