mycarenet-ws/src/wsdl/care-provider-types.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:be:cin:mycarenet:1.0:async:types"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
  targetNamespace="urn:be:cin:mycarenet:1.0:async:types" elementFormDefault="qualified">
  <annotation>
    <documentation xml:lang="en">MyCarenet Care Provider schema. Copyright 2006 Certipost N.V. All
      rights reserved. Certipost N.V. proprietary/confidential. Use is subject to license
    terms.</documentation>
  </annotation>
  <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd" />
  <import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="xmlmime.xsd" />
  <simpleType name="MsgTypeType">
    <restriction base="xs:string">
      <enumeration value="MBS_REQ">
        <annotation>
          <documentation xml:lang="en">Membership check request. Coming from the
          Care-Provider.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MBS_RSP">
        <annotation>
          <documentation xml:lang="en">Membership check response. Coming from MyCarenet Membership
            filter.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="INS_REQ">
        <annotation>
          <documentation xml:lang="en">Insurability request. Coming from the
          Care-Provider.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="INS_RSP">
        <annotation>
          <documentation xml:lang="en">Insurability response. Coming from the Insurer
          Organization</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FAC_REQ">
        <annotation>
          <documentation xml:lang="en">Invoice request. Coming from the
          Care-Provider.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FAC_RSP">
        <annotation>
          <documentation xml:lang="en">Invoice response. Coming from the Insurer
          Organization.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FAC_RSP_SIGNED_INPUT">
        <annotation>
          <documentation xml:lang="en">The original invoice response, together with its signature.
            This is to allow end-to-end validation.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M4A_REQ">
        <annotation>
          <documentation xml:lang="en">Medical Administration request. Coming from the
            Care-Provider.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M4A_RSP">
        <annotation>
          <documentation xml:lang="en">Medical Administration response. Coming from the Insurer
            Organization</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M4A_CNF">
      	<annotation>
        <documentation xml:lang="en">Force Probante. Intermediate Medical Administrative 
           message</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M4A_RSP_SIGNED_INPUT">
        <annotation>
          <documentation xml:lang="en">The original Medical Administrative response, together with its signature.
            This is to allow end-to-end validation.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DetailFileTypeType">
    <restriction base="xs:string">
      <enumeration value="XML_SINGLE">
        <annotation>
          <documentation xml:lang="en">The DetailFile tag contains an XML, and contains only one
            request record.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="XML_MULTIPLE">
        <annotation>
          <documentation xml:lang="en">The DetailFile tag contains an XML, and can contain multiple
            request records.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FLAT_SINGLE">
        <annotation>
          <documentation xml:lang="en">The DetailFile tag contains a flat file (ASCII), and contains
            only one request record.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FLAT_MULTIPLE">
        <annotation>
          <documentation xml:lang="en">The DetailFile tag contains a flat file (ASCII), and can
            contain multiple request records.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NumericString12Type">
    <restriction base="xs:string">
      <pattern value="[0-9]{12}"/>
    </restriction>
  </simpleType>
  <simpleType name="PreferredLanguageType">
    <restriction base="xs:string">
      <minLength value="2"/>
      <maxLength value="2"/>
    </restriction>
  </simpleType>
  <element name="SignatureValue" type="xs:base64Binary">
    <annotation>
      <documentation>The detached Signature of the detailfile.</documentation>
    </annotation>
  </element>
  <element name="X509Certificate" type="xs:base64Binary">
    <annotation>
      <documentation>The certificate which was used to sign the detailfile.</documentation>
    </annotation>
  </element>
  <complexType name="X509DataType">
    <sequence>
      <element ref="tns:X509Certificate"/>
    </sequence>
  </complexType>
  <element name="X509Data" type="tns:X509DataType"/>
  <complexType name="KeyInfoType">
    <sequence>
      <element ref="tns:X509Data"/>
    </sequence>
  </complexType>
  <element name="KeyInfo" type="tns:KeyInfoType"/>
  <complexType name="SignatureType">
    <sequence>
      <element ref="tns:SignatureValue"/>
      <element ref="tns:KeyInfo"/>
    </sequence>
  </complexType>
  <complexType name="BeHealthInfoType">
    <sequence>
      <any namespace="##other" processContents="lax"/>
    </sequence>
  </complexType>
  <complexType name="IdentifierType">
    <sequence>
      <element name="Id" type="tns:IdType"/>
      <element name="Type" type="tns:TypeType"/>
      <element name="Subtype" type="tns:SubtypeType" minOccurs="0"/>
    </sequence>
  </complexType>
  <simpleType name="IdType">
    <restriction base="xs:string">
      <pattern value="[0-9]{8,12}"/>
    </restriction>
  </simpleType>

  <simpleType name="TypeType">
    <restriction base="xs:string">
      <xs:enumeration value="NIHII">
        <xs:annotation>
          <xs:documentation> If the id is the NIHII of an entity. If this is selected, the
            subtype should be specified. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CBE">
        <xs:annotation>
          <xs:documentation>If the id is the CBE number</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSS">
        <xs:annotation>
          <xs:documentation>If the id is the INSS number. Only possible for a
          mandate.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </restriction>
  </simpleType>

  <simpleType name="SubtypeType">
    <restriction base="xs:string">
      <minLength value="1"/>
      <!-- no longer restrict to enumeration, in order to allow adding new sub types through configuration -->
      <!-- xs:enumeration value="GROUP">
        <xs:annotation>
          <xs:documentation> If the id is the NIHII of an organization the subtype should be GROUP.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LABO">
        <xs:annotation>
          <xs:documentation> If the id is the NIHII of a laboratory the subtype should be LABO.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RETIREMENT">
        <xs:annotation>
          <xs:documentation> If the id is the NIHII of a retirement home the subtype should be RETIREMENT.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration-->
    </restriction>
  </simpleType>

  <complexType name="SenderType">
    <sequence>
      <element name="Nihii" type="tns:NihiiType"/>
      <element name="Organisation" type="tns:IdentifierType" minOccurs="0"/>
      <element name="Mandate" type="tns:IdentifierType" minOccurs="0"/>
    </sequence>
  </complexType>

  <simpleType name="NihiiType">
    <restriction base="string">
      <pattern value="[0-9]{12}"/>
    </restriction>
  </simpleType>

  <element name="NihiiSender" type="tns:NihiiType"/>

  <simpleType name="MessageVersionType">
    <restriction base="string">
      <pattern value="[0-9]{2}"/>
    </restriction>
  </simpleType>

  <simpleType name="String14Type">
    <restriction base="xs:string">
      <maxLength value="14"/>
    </restriction>
  </simpleType>

  <element name="DetailFile_Wrapped" type="tns:Wrapped"/>
  <element name="DetailFile_Inline" type="tns:Inline"/>

  <complexType name="Wrapped">
    <annotation>
      <documentation> Type of the DetailFile that is Binary, with the possiblity to specify the
        format (by default zip). The format specified wrappes the XML or Flat File. </documentation>
    </annotation>
    <simpleContent>
      <restriction base="xmime:base64Binary">
        <attribute ref="xmime:contentType" default="application/zip"/>
      </restriction>
    </simpleContent>
  </complexType>

  <complexType name="Inline" mixed="true">
    <annotation>
      <documentation> Type of the DetailFile that can be XML or Flat File that is directly embedded
        in the CareProviderDocument. </documentation>
    </annotation>
    <sequence>
      <any namespace="urn:be:cin:mycarenet:1.0:carenet:types" processContents="lax" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="MsgType" type="tns:MsgTypeType"/>
  <element name="MsgTypeVersion" type="tns:MessageVersionType"/>
  <element name="DetailFileType" type="tns:DetailFileTypeType"/>
  <element name="Sender" type="tns:SenderType"/>
  <element name="Receiver" type="tns:NumericString12Type"/>
  <element name="DocumentReference" type="tns:String14Type"/>
  <element name="PreferredLanguage" type="tns:PreferredLanguageType"/>
  <element name="MessageCreationDateTime" type="xs:dateTime"/>
  <element name="TestFlag" type="xs:boolean"/>
  <element name="DetailRecordCount" type="xs:int"/>
  <element name="DetailFile" type="xs:anyType"/>

  <element name="OriginalDetailFile" type="xs:base64Binary"/>
  <element name="Signature" type="tns:SignatureType"/>
  <element name="BeHealthInfo" type="tns:BeHealthInfoType"/>
  <complexType name="CareProviderDocumentType">
    <annotation>
      <documentation xml:lang="en">The care provider document is used for both request and response
        messages.</documentation>
    </annotation>
    <sequence>
      <element ref="tns:MsgType"/>
      <element ref="tns:MsgTypeVersion"/>
      <element ref="tns:DetailFileType"/>
      <element ref="tns:Sender"/>
      <element ref="tns:Receiver"/>
      <element ref="tns:DocumentReference" minOccurs="0"/>
      <element ref="tns:PreferredLanguage" minOccurs="0"/>
      <element ref="tns:MessageCreationDateTime"/>
      <element ref="tns:TestFlag"/>
      <element ref="tns:DetailRecordCount" minOccurs="0"/>
      <element ref="tns:DetailFile"/>
      <element ref="tns:OriginalDetailFile" minOccurs="0"/>
      <element ref="tns:Signature" minOccurs="0"/>
      <element ref="tns:BeHealthInfo" minOccurs="0"/>
    </sequence>
  </complexType>
  <element name="CareProviderDocument" type="tns:CareProviderDocumentType"/>
  <simpleType name="FaultCodeType">
    <restriction base="xs:string">
      <enumeration value="AUDIT_NOT_FOUND">
        <annotation>
          <documentation xml:lang="en">The given audit number does not exist within the
          system.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EID_STATUS_INVALID">
        <annotation>
          <documentation xml:lang="en">The care provider certificate is found to be
          invalid.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FILE_NOT_FOUND">
        <annotation>
          <documentation xml:lang="en">The file sequence number does not exist within the
          system.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERIC_ERROR">
        <annotation>
          <documentation xml:lang="en">Generic error.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RECEIVE_ERROR">
        <annotation>
          <documentation xml:lang="en">The system was unable to queue the post for further
            processing.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SCHEMA_ERROR">
        <annotation>
          <documentation xml:lang="en">The structure of the document is not correct (package
          error).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UNAUTHORIZED">
        <annotation>
          <documentation xml:lang="en">The care provider was not authorized by
          Be-Health.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UNKNOWN_SESSION_KEY">
        <annotation>
          <documentation xml:lang="en">The session key used to authenticate is unknown by the
            system. This is possible when the session key was not registered via the XKMS service or
            if the session key as expired.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <complexType name="StringLangType">
    <simpleContent>
      <extension base="xs:string">
        <attribute ref="xml:lang"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="DetailType">
    <sequence>
      <element name="DetailCode" type="xs:string">
        <annotation>
          <documentation xml:lang="en">Contains a detail code.</documentation>
        </annotation>
      </element>
      <element name="Location" minOccurs="0" type="xs:string">
        <annotation>
          <documentation xml:lang="en">Contains the location of the fault. This could be an XPath
            expression.</documentation>
        </annotation>
      </element>
      <element name="Message" minOccurs="0" type="tns:StringLangType">
        <annotation>
          <documentation xml:lang="en">Contains a human-readable message.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="Detail" type="tns:DetailType"/>
  <complexType name="DetailsType">
    <sequence>
      <element ref="tns:Detail" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="Details" type="tns:DetailsType"/>
  <complexType name="FaultType">
    <sequence>
      <element name="FaultCode" type="tns:FaultCodeType"/>
      <element name="FaultSource" type="xs:string">
        <annotation>
          <documentation xml:lang="en">Contains the name of the subsystem that caused the error
            event to occur.</documentation>
        </annotation>
      </element>
      <element name="Message" type="tns:StringLangType">
        <annotation>
          <documentation xml:lang="en">A human-readable error message.</documentation>
        </annotation>
      </element>
      <element ref="tns:Details"/>
    </sequence>
  </complexType>
  <element name="Fault" type="tns:FaultType"/>
  <complexType name="PostFileRequestType">
    <sequence>
      <element ref="tns:CareProviderDocument"/>
    </sequence>
  </complexType>
  <element name="FlowType" type="tns:FlowTypeType"/>
  <simpleType name="FlowTypeType">
    <restriction base="xs:string">
      <enumeration value="ALL">
        <annotation>
          <documentation xml:lang="en">Check for all types of documents</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MBS">
        <annotation>
          <documentation xml:lang="en">Check for Membership documents.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FAC">
        <annotation>
          <documentation xml:lang="en">Check for Invoice documents.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="INS">
        <annotation>
          <documentation xml:lang="en">Check for Insurability documents.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M4A">
        <annotation>
          <documentation xml:lang="en">Check for Medical Administrative documents.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="PostFileRequest" type="tns:PostFileRequestType"/>
  <complexType name="FileType">
    <sequence>
      <xs:element ref="tns:MsgType" minOccurs="0"/>
      <xs:element ref="tns:MsgTypeVersion" minOccurs="0"/>
      <xs:element ref="tns:TestFlag" minOccurs="0"/>
      <xs:element ref="tns:DetailFileType" minOccurs="0"/>
   </sequence>
    <xs:attribute name="sequence" type="long" use="required"/>
    <xs:attribute name="optional" type="boolean" use="optional"/>
  </complexType>

  <element name="FileInfo" type="tns:FileInfoType"/>
  <complexType name="FileInfoType">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <element name="File" type="tns:FileType"/>
    </sequence>
  </complexType>
  <element name="AuditNumber" type="xs:string">
    <annotation>
      <documentation>Reference number on the MyCarenet platform</documentation>
    </annotation>
  </element>
  <complexType name="PostFileResultType">
    <annotation>
      <documentation xml:lang="en">Contains the audit number of the post within the
      system.</documentation>
    </annotation>
    <sequence>
      <element ref="tns:AuditNumber"/>
    </sequence>
  </complexType>
  <element name="PostFileResult" type="tns:PostFileResultType"/>
  <element name="FileSequence" type="xs:int"/>
  <complexType name="QueryDownloadableRequestType">
    <sequence>
      <element ref="tns:Sender"/>
      <element ref="tns:FlowType" minOccurs="0"/>
    </sequence>
  </complexType>
  <element name="QueryDownloadableRequest" type="tns:QueryDownloadableRequestType"/>
  <element name="FileCount" type="xs:int"/>
  <complexType name="AuditType">
    <annotation>
      <documentation xml:lang="en">Each audit entry has an audit number and a number of files
        available for download.</documentation>
    </annotation>
    <sequence>
      <element ref="tns:AuditNumber">
        <annotation>
          <documentation xml:lang="en">The audit number of the audit entry.</documentation>
        </annotation>
      </element>
      <element ref="tns:FileCount">
        <annotation>
          <documentation xml:lang="en">The number of files of this audit entry available for
            download. The file sequence number range used when downloading can go from 0 to
            FileCount-1.</documentation>
        </annotation>
      </element>
      <element ref="tns:NihiiSender" minOccurs="0"/>
      <element ref="tns:FileInfo" minOccurs="0"/>
    </sequence>
  </complexType>
  <element name="Audit" type="tns:AuditType"/>
  <complexType name="QueryDownloadableResultType">
    <sequence>
      <element ref="tns:Audit" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="QueryDownloadableResult" type="tns:QueryDownloadableResultType"/>
  <complexType name="GetStatusRequestType">
    <sequence>
      <element ref="tns:Sender"/>
      <element ref="tns:AuditNumber"/>
    </sequence>
  </complexType>
  <element name="GetStatusRequest" type="tns:GetStatusRequestType"/>
  <simpleType name="PostStatusType">
    <restriction base="xs:string">
      <enumeration value="RECEIVED">
        <annotation>
          <documentation xml:lang="en">The request has been received correctly and is queued for
            processing.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AUTHORIZATION_ERROR">
        <annotation>
          <documentation xml:lang="en">The request has been authorized by Be-Health
          incorrectly.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VALIDATION_ERROR">
        <annotation>
          <documentation xml:lang="en">The signature is not valid for this request.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="METADATA_ERROR">
        <annotation>
          <documentation xml:lang="en">Error in provided META-DATA file.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DETAILFILE_ERROR">
        <annotation>
          <documentation xml:lang="en">Error in provided detail file.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PROCESSING">
        <annotation>
          <documentation xml:lang="en">The request is being processed by the system, and now errors
            occured so far.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DOWNLOADABLE">
        <annotation>
          <documentation xml:lang="en">Result files for the given audit number are available for
            download.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FINISHED">
        <annotation>
          <documentation xml:lang="en">The processing on the MyCarenet platform has been finished
            correctly.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERIC_ERROR">
        <annotation>
          <documentation xml:lang="en">An unexpected generic exception has occured on the MyCarenet
            platform.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <complexType name="WarningsType">
    <sequence>  	
      <element name="Warning" type="tns:StringLangType" maxOccurs="unbounded"/>
    </sequence> 
  </complexType>
  <element name="PostStatus" type="tns:PostStatusType"/>
  <complexType name="GetStatusResultType">
    <sequence>
      <element ref="tns:AuditNumber"/>
      <element ref="tns:PostStatus"/>
      <element name="Details" type="tns:StringLangType">
        <annotation>
          <documentation xml:lang="en">A human-readable description of the status.</documentation>
        </annotation>
      </element>
	  <element name="Warnings" type="tns:WarningsType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en">A list of human-readable warning messages that did not cause the message to go into error, but should be checked.</documentation>
        </annotation>
	  </element>
    </sequence>
  </complexType>  
  <element name="GetStatusResult" type="tns:GetStatusResultType"/>
  <complexType name="DownloadRequestType">
    <sequence>
      <element ref="tns:Sender"/>
      <element ref="tns:AuditNumber">
        <annotation>
          <documentation xml:lang="en">The audit number of the audit entry from which to download a
            file.</documentation>
        </annotation>
      </element>
      <element ref="tns:FileSequence">
        <annotation>
          <documentation xml:lang="en">The file sequence number of the file within the audit entry
            to download.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="DownloadRequest" type="tns:DownloadRequestType"/>
  <complexType name="DownloadResultType">
    <sequence>
      <element ref="tns:AuditNumber"/>
      <element ref="tns:FileSequence"/>
      <element ref="tns:CareProviderDocument"/>
    </sequence>
  </complexType>
  <element name="DownloadResult" type="tns:DownloadResultType"/>
  <element name="EchoRequest" type="xs:string"/>
  <element name="EchoResult" type="xs:string"/>
</schema>
