mycarenet-ehealth-ws-trust-sts/src/wsdl/ws-trust-1.3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- OASIS takes no position regarding the validity or scope of any intellectual 
	property or other rights that might be claimed to pertain to the implementation 
	or use of the technology described in this document or the extent to which 
	any license under such rights might or might not be available; neither does 
	it represent that it has made any effort to identify any such rights. Information 
	on OASIS's procedures with respect to rights in OASIS specifications can 
	be found at the OASIS website. Copies of claims of rights made available 
	for publication and any assurances of licenses to be made available, or the 
	result of an attempt made to obtain a general license or permission for the 
	use of such proprietary rights by implementors or users of this specification, 
	can be obtained from the OASIS Executive Director. OASIS invites any interested 
	party to bring to its attention any copyrights, patents or patent applications, 
	or other proprietary rights which may cover technology that may be required 
	to implement this specification. Please address the information to the OASIS 
	Executive Director. Copyright © OASIS Open 2002-2006. All Rights Reserved. 
	This document and translations of it may be copied and furnished to others, 
	and derivative works that comment on or otherwise explain it or assist in 
	its implementation may be prepared, copied, published and distributed, in 
	whole or in part, without restriction of any kind, provided that the above 
	copyright notice and this paragraph are included on all such copies and derivative 
	works. However, this document itself does not be modified in any way, such 
	as by removing the copyright notice or references to OASIS, except as needed 
	for the purpose of developing OASIS specifications, in which case the procedures 
	for copyrights defined in the OASIS Intellectual Property Rights document 
	must be followed, or as required to translate it into languages other than 
	English. The limited permissions granted above are perpetual and will not 
	be revoked by OASIS or its successors or assigns. This document and the information 
	contained herein is provided on an AS IS basis and OASIS DISCLAIMS ALL WARRANTIES, 
	EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE 
	OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES 
	OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. -->
<wsdl:definitions targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
	xmlns:tns="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
	<!-- this is the WS-I BP-compliant way to import a schema -->
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
				schemaLocation="ws-trust-1.3.xsd" />
		</xs:schema>
	</wsdl:types>

	<!-- WS-Trust defines the following GEDs -->
	<wsdl:message name="RequestSecurityTokenMsg">
		<wsdl:part name="request" element="wst:RequestSecurityToken" />
	</wsdl:message>
	<wsdl:message name="RequestSecurityTokenCollectionMsg">
		<wsdl:part name="request" element="wst:RequestSecurityTokenCollection" />
	</wsdl:message>
	<wsdl:message name="RequestSecurityTokenResponseMsg">
		<wsdl:part name="response" element="wst:RequestSecurityTokenResponse" />
	</wsdl:message>
	<wsdl:message name="RequestSecurityTokenResponseCollectionMsg">
		<wsdl:part name="responseCollection" element="wst:RequestSecurityTokenResponseCollection" />
	</wsdl:message>

	<wsdl:portType name="SecurityTokenServicePort">
		<wsdl:operation name="Issue">
			<wsdl:input message="tns:RequestSecurityTokenMsg"
				wsaw:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" />
			<wsdl:output message="tns:RequestSecurityTokenResponseMsg"
				wsaw:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RSTRC/IssueFinal" />
		</wsdl:operation>
                <wsdl:operation name="Challenge">
                        <wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
                        <wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
                </wsdl:operation>
		<wsdl:operation name="Validate">
			<wsdl:input
				wsaw:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate"
				message="tns:RequestSecurityTokenMsg" />
			<wsdl:output
				wsaw:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RSTR/ValidateFinal"
				message="tns:RequestSecurityTokenResponseMsg" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SecurityTokenServiceBinding" type="tns:SecurityTokenServicePort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="Issue">
			<soap:operation
				soapAction="urn:be:fgov:ehealth:sts:protocol:v1:RequestSecurityToken"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
                <wsdl:operation name="Challenge">
			<soap:operation
				soapAction="urn:be:fgov:ehealth:sts:protocol:v1:Challenge"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Validate">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SecurityTokenService">
		<wsdl:port name="SecurityTokenServicePort" binding="tns:SecurityTokenServiceBinding">
			<soap:address location="https://www.e-contract.be/iam/sts" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
